@import '../../styles/styles.styl'

:host
  display: grid
  position: relative
  padding: .5em
  grid-auto-rows: auto 1fr

api-search
  padding: 0 .5em .5em

api-data-table
  --data-table-table-margin: 0 .5em 0 0
  --data-table-row-bg: var(--secondary-hue)
  &.gamescorekeeper
    --data-table-table-columns: \
        1fr \
        3fr \
        1fr \
        2fr \
        2fr \
        1fr